# Node modules
node_modules/

# Build output
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System files
.DS_Store
Thumbs.db

.next/
out/
build-manifest.json
react-loadable-manifest.json
app-build-manifest.json
trace/
